.nav-items{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.nav-items a{
    padding: 10px;
    border: 2px solid deepskyblue;
    width: 200px;
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
}
.home-header {
    color: deepskyblue;
}
